<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生管理系统</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body> 
    <div class="header">
        <div class="logo">
            <a href="/" class="logo">
                <img src="/static/image/图像.png" alt="Helping Hands Logo">
            </a>
        </div>
        <div class="side">
            <div class="log"><p>Current User: admin</p></div>
            <div class="setting"><button id="settingBtn">Settings</button></div>
            <div class="log"><button id="logoutBtn">Log out</button></div>
        </div>
    </div>  

     <!-- Logout Modal -->
     <div id="logoutModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Log Out</h2>
            <p>Are you sure you want to log out?</p>
            <button id="logoutConfirm">Confirm</button>
            <button id="logoutCancel">Cancel</button>
        </div>
    </div>
    
    <!-- Settings Modal -->
    <div id="languageModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Choose a Language</h2>
            <select id="languageSelect">
                <option value="en">English</option>
                <option value="zh">中文</option>
            </select>
            <button id="saveLangBtn">Save</button>
        </div>
    </div>




    <div class="content">
        <div class="sidebar">
            <ul>
                <li><a href="main.html" data-action="viewStories">Personal Stories</a></li>
                <li><a href="shelter.html" data-action="viewShelters">Shelters</a></li>
                <li><a href="needs.html" data-action="viewNeeds">Urgent Needs</a></li>
                <li><a href="homeless.html" data-action="homeless_list">Our Homeless</a></li>
            </ul>
        </div>
        <div class="main">
            <h2>Operations</h2>
                <p id="mainText">Click the side bar</p>
        </div>
    </div>
    <div class="footer">
        <p>版权所有： Homeless管理系统</p>
        <p>如有需要请联系开发者：霖</p>
        <p>email: yzhe0128@student.monash.edu</p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>